.container {
  display: flex;
  height: 100vh;
  
}

.divisionLine {
  width: 2px;
  background-color: #999;
  height: 100vh;
  opacity: 0.1;
}

@media (max-width: 480px), (min-width: 480px) and (max-width: 992px) {
  .container{
    display: flex;
    flex-direction: column;
  }
  .divisionLine{
    display: none;
  }
}